<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>info</mat-icon>
        <mat-card-title>
            Autor: Autor Del Post
        </mat-card-title>
        <mat-card-subtitle>
            Fecha: 01/08/2023
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- <kng-wordcloud-d3></kng-wordcloud-d3> -->
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Series con este post
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ver post relacionados
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Mas post del autor
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>