.post-list {
    padding: 2em;

    &-title {
        font-weight: 500;
        font-size: 1.3em;

        &-icon {
            vertical-align: middle;
        }
    }

    &-tags {
        margin-left: 2em;
        margin-top: -0.5em;
    }
}

.tag-button {
    scale: 0.8;
    margin-top: 0.2em;
    text-transform: uppercase;
    align-self: start;
}