.primary-footer {
  font-size: small !important;
  height: 32px !important;
  .mat-toolbar {
    font-size: small !important;
    height: 32px !important;
  }
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}
