<mat-card class="post-card-wrapper">
    <mat-card-header>
        <mat-card-title>
            <kng-post-presentation [type]="post.type" [title]="post.title" [tags]="post.tags">
            </kng-post-presentation>
        </mat-card-title>
        <span class="fill-remaining-space"></span>
        <!-- <button mat-button>SHARE</button> -->
    </mat-card-header>
    <mat-card-content class="post-content">
        <markdown lineNumbers [data]="previewContent" [disableSanitizer]="true">
        </markdown>
    </mat-card-content>
    <!-- <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>