<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>savings</mat-icon>
        <mat-card-title>Publicidad</mat-card-title>
        <mat-card-title>Esto nos ayuda a seguir en marcha</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-ads-horizontal">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5167185089007551"
            crossorigin="anonymous"></script>
        <ins class="adsbygoogle" style="display:block; text-align:center;" data-ad-layout="in-article"
            data-ad-format="fluid" data-ad-client="ca-pub-5167185089007551" data-ad-slot="1799305780"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </mat-card-content>
</mat-card>