<div *ngIf="position=='header'">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel" color="accent">
        <a mat-tab-link *ngFor="let link of menus" (click)="goTo(link.url)" [active]="activeLink == link.url">
            <mat-icon>
                {{link.icon}}
            </mat-icon>
            {{ link.name | lowercase | translate }}
        </a>
        <!-- <a mat-tab-link disabled>Disabled Link</a> -->
    </nav>
    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
</div>
<div *ngIf="position=='sidenav'">
    <mat-nav-list>
        <mat-list-item *ngFor="let link of menus" (click)="goTo(link.url)" [activated]="activeLink == link.url">
            <mat-icon matListItemIcon class="nav-list-icon">
                {{link.icon}}
            </mat-icon>
            <span matListItemLine>{{ link.name | lowercase | translate}}</span>
        </mat-list-item>
    </mat-nav-list>
</div>