<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>cookie</mat-icon>
        <mat-card-title>{{'cookies-policy' | translate}}</mat-card-title>
        <mat-card-subtitle>Kpucha.dev</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{'cookies-intro' | translate}}</p>
        <h3>{{'cookies-titles.what' | translate}}</h3>
        <p>{{'cookies-contents.what' | translate}}</p>
        <h3>{{'cookies-titles.types' | translate}}</h3>
        <p>{{'cookies-contents.types' | translate}}</p>
        <ul>
            <li>{{'cookies-contents.types-essential' | translate}}</li>
            <li>{{'cookies-contents.types-performance' | translate}}</li>
            <li>{{'cookies-contents.types-advertising' | translate}}</li>
            <li>{{'cookies-contents.types-analytics' | translate}}</li>
        </ul>
        <h3>{{'cookies-titles.managing-info' | translate}}</h3>
        <p>{{'cookies-contents.managing-info' | translate}}</p>
        <p>{{'cookies-contents.managing-info2' | translate}}</p>
        <h3>{{'cookies-titles.updates' | translate}}</h3>
        <p>{{'cookies-contents.updates' | translate}}</p>
        <h3>{{'cookies-titles.contact' | translate}}</h3>
        <p>{{'cookies-contents.contact' | translate}}</p>
    </mat-card-content>
</mat-card>