<mat-card>
    <mat-card-header>
        <mat-icon mat-card-avatar>gavel</mat-icon>
        <mat-card-title>{{'privacy-policy' | translate}}</mat-card-title>
        <mat-card-subtitle>Kpucha.dev</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{'pp-intro' | translate}}</p>
        <h3>{{'pp-titles.info-we-collect' | translate}}</h3>
        <p>{{'pp-contents.info-we-collect' | translate}}</p>
        <h3>{{'pp-titles.how-use-info' | translate}}</h3>
        <p>{{'pp-contents.how-use-info' | translate}}</p>
        <h3>{{'pp-titles.sharing-info' | translate}}</h3>
        <p>{{'pp-contents.sharing-info' | translate}}</p>
        <h3>{{'pp-titles.cookies' | translate}}</h3>
        <p>{{'pp-contents.cookies' | translate}}</p>
        <h3>{{'pp-titles.info-sec' | translate}}</h3>
        <p>{{'pp-contents.info-sec' | translate}}</p>
        <h3>{{'pp-titles.updates' | translate}}</h3>
        <p>{{'pp-contents.updates' | translate}}</p>
        <h3>{{'pp-titles.user-rights' | translate}}</h3>
        <p>{{'pp-contents.user-rights' | translate}}</p>
        <h3>{{'pp-titles.contact' | translate}}</h3>
        <p>{{'pp-contents.contact' | translate}}</p>
        <p>{{'pp-contents.law' | translate}}</p>
    </mat-card-content>
</mat-card>