// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary-light-on: mat.define-palette(mat.$grey-palette, 100, 50, 400);
$accent-light-on: mat.define-palette(mat.$light-blue-palette);
$warn-light-on: mat.define-palette(mat.$deep-orange-palette, A200);
$theme-light-on: mat.define-light-theme(
  (
    color: (
      primary: $primary-light-on,
      accent: $accent-light-on,
      warn: $warn-light-on,
    ),
  )
);

$primary-light-off: mat.define-palette(mat.$grey-palette, 900, 800, 900);
$accent-light-off: mat.define-palette(mat.$light-blue-palette);
$warn-light-off: mat.define-palette(mat.$deep-orange-palette);
$custom-background-color: #15202b;
$theme-light-off: mat.define-dark-theme(
  (
    color: (
      primary: $primary-light-off,
      accent: $accent-light-off,
      warn: $warn-light-off,
    ),
  )
);

.light-on {
  @include mat.all-component-colors($theme-light-on);
}

.light-off {
  @include mat.all-component-colors($theme-light-off);
}

@font-face {
  font-family: "ArchitectsDaughter";
  src: url("assets/fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.handwrite {
  font-family: "ArchitectsDaughter";
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.material-symbols-outlined {
  margin: 0.25em;
}
button {
  .mat-icon {
    margin: auto !important;
  }
}
.fit-sidenav {
  height: calc(100vh - 70px);
  min-height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
}
.sidenav-menu {
  width: 15vw;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.sidenav-content {
  display: flex !important;
  height: 100%;
  align-items: center;
  justify-content: center;
}
