@use "@angular/material" as mat;
@import "assets/theme/constants";
@import "assets/theme/forms";

@include mat.core();

$mat-typography: mat.define-typography-config();

$primary-light-on: mat.define-palette(mat.$grey-palette, 100, 50, 400);
$accent-light-on: mat.define-palette(mat.$light-blue-palette);
$warn-light-on: mat.define-palette(mat.$deep-orange-palette, A200);
$theme-light-on: mat.define-light-theme((color: (primary: $primary-light-on,
        accent: $accent-light-on,
        warn: $warn-light-on,
      ),
      typography: $mat-typography,
    ));

$primary-light-off: mat.define-palette(mat.$grey-palette, 900, 800, 900);
$accent-light-off: mat.define-palette(mat.$light-blue-palette);
$warn-light-off: mat.define-palette(mat.$deep-orange-palette);
$custom-background-color: #15202b;
$theme-light-off: mat.define-dark-theme((color: (primary: $primary-light-off,
        accent: $accent-light-off,
        warn: $warn-light-off,
      ), typography: $mat-typography ));

.light-on {
  @include mat.all-component-themes($theme-light-on);
  @include mat.all-component-typographies($mat-typography);
  @include mat.typography-hierarchy($mat-typography)
}

.light-off {
  @include mat.all-component-themes($theme-light-off);
  @include mat.all-component-typographies($mat-typography);
  @include mat.typography-hierarchy($mat-typography)
}

@font-face {
  font-family: "ArchitectsDaughter";
  src: url("assets/fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
}

a:link {
  color: #03a9f4;
}

a:visited {
  color: #03a9f4;
}

a:visited:hover {
  color: #03a9f4;
}

a:hover {
  color: #03a9f4;
}

a:active {
  color: #03a9f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500 !important;
}

html,
body {
  height: 100%;
}

blockquote {
  padding: 0.5em 1em;
  background-color: #03a9f430;
  border-radius: 9px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 10;
    height: 10;
    border-bottom: 18px solid transparent;
    border-right: 20px solid #03a9f430;
    border-left: 18px solid transparent;
    border-top: 18px solid transparent;
    margin: 9px 0 0 -54px;
  }
}

ul {
  line-height: 1.5em;
}

code {
  padding: 0.25em 0.5em;
  background-color: #03a9f430;
  border-radius: 4px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.material-symbols-outlined {
  margin: 0.25em;
}

button {
  .mat-icon {
    margin: auto !important;
  }
}

.mat-mdc-input-element {
  // height: 3em !important;
  //margin-top: 1em !important;
}

.fit-sidenav {
  height: calc(100vh - 96px);
  min-height: calc(100vh - 96px);
  max-height: calc(100vh - 96px);
}

.sidenav-menu {
  width: 20em;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.sidenav-content {
  height: 100%;
}

*::-webkit-scrollbar {
  //display: none !important;
  width: 5px;
  background: $primary-color;
}

*::-webkit-scrollbar-thumb {
  background: $accent-color;
  width: 5px;
}

.mdc-data-table__row {
  height: inherit !important;
}

.mat-mdc-card {
  margin: 0.5em;
}

.pointer {
  cursor: pointer;
}

.list-icons-card-content {
  position: relative;
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;

  .mdc-icon-button {
    display: block;
    margin: 0 auto;
  }
}

.w100 {
  width: 100%;
}

.mat-mdc-card-header-text {
  width: 100%;
}

.mdc-evolution-chip-set__chips {
  margin-left: 2em;
}

ngx-markdown-editor {
  min-height: 100px;
  max-height: 500px;
}

.hidden {
  display: none;
}

.btn-group {
  display: inline-flex;
}

.post-card {
  height: calc(100% - 1.5em);
}

.post-content {
  height: calc(100% - 3em);
  overflow: auto;
  padding: 1em !important;
}


.sticky-post-editor {
  position: sticky !important;
  top: 240 !important;
  z-index: 1.1 !important;
}